<h1>Listing maggiewus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maggiewus.each do |maggiewu| %>
      <tr>
        <td><%= maggiewu.name %></td>
        <td><%= link_to 'Show', maggiewu %></td>
        <td><%= link_to 'Edit', edit_maggiewu_path(maggiewu) %></td>
        <td><%= link_to 'Destroy', maggiewu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maggiewu', new_maggiewu_path %>
